modules = ["nodejs-20"]
run = "node mockServerforRTMS.js"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node mockServerforRTMS.js"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000

[[ports]]
localPort = 3001

[[ports]]
localPort = 8081

[[ports]]
localPort = 9092
