modules = ["nodejs-20"]
run = "node mockServerforRTMS.js"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node mockServerforRTMS.js"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 9092
externalPort = 80
